*{  
    margin: 0;
    padding: 0;
    font-family: 'Akshar', sans-serif;
font-family: 'Pacifico', cursive;
font-family: 'Roboto', sans-serif;
font-family: 'Roboto Slab', serif;
}
body{
    background-size: cover;
    background-attachment: fixed;
    /* box-shadow: 2px 10px 1900px 90px inset #000 ;*/
    background-image:url("../media/WhatsApp\ Image\ 2022-04-25\ at\ 1.56.50\ AM.jpeg");
}
.gh{
    color: blue;
}
.logo{
    width: 60px;
    height: 40px;
    float: left;
    margin-left: 140px;
    margin-top: -10px;
    
}
div h5 a:hover{
    -webkit-transform: scale(1.08);
    transform: scale(1.08);
    transition: 0.4s ease-out;
}
.container{
    box-shadow: inset #000 ;
    width:100%;
    height:100vh;
    background-position: center;
    background-size: cover;
    padding-left: 8%;
    padding-right: 8%;
    box-sizing: border-box;
}
.navbar{
    position: sticky;
    border-radius: 12px;
    margin-left: -70px;
    width:auto;
    background-color: rgb(0, 0, 0,50%);
    height: 12%;
    display: flex;
    align-items: center;
}
nav{
    position: sticky;
    display: inline-block;
    width: 102%;
    text-align: center;
}
nav ul li{
    list-style: none;
    display: inline-block;
    margin-left: 70px;
}
nav ul{
    margin-top: -10px;
    margin-right: 100px;
}
nav ul li a{
    text-decoration: none;
    color:#fff;
    font-size: 18px;

}
.row{
    margin-bottom: -130px;
    margin-top: 250px;
    display: flex;
    height: 60%;
    align-items: center;
}
.col{border-left:rgb(243, 238, 238) 8px solid ; margin-left: 10px;
    margin-top: -150px;
    margin-left: 50px;
    padding-left: 50px;
    flex-basis: 50%;
}
.aaa{
    border-left: none;
}
h1{
    color:#fff;
    font-size: 100px;
}
p{
    color: #fff;
    font-size:11px;
    line-height:15px
}
.col button{
    width: 180px;
    color:#000;
    font-size: 12px;
    padding: 12px 0;
    background-color: #fff;
    border: 0;
    border-radius: 20px;
    outline: none;
    margin-top: 30px;
    cursor: pointer;
}
a{
    text-decoration: none;
    color: aliceblue;
}
.card{
    color: aliceblue;
    text-decoration: none;
    padding-left: 10px;
    transition: 0.4s ease-out;
    text-decoration: none;
    width: 200px;
    height: 230px;
    display: inline-block;
    border-radius: 10px;
    padding: 15px 25px;
    box-sizing: border-box;
    cursor:pointer;
    margin:10px 15px;
    background-position: center;
    background-size:cover;
    font-size: 20px;
    box-shadow: 2px 10px 100px 15px inset #000;
}
.a{text-decoration: none;
    background-image: url("../media/E1.jpg");
    transition: 0.8s ease-out;
}
.b{
    background-image: url("../media/love\ is\ blind.jpg");
}
.c{
    background-image: url("../media/Papa_2012_Poster.jpg");
}
.d{
    background-image: url("../media/hunting.jpg");
}
.e{
    background-image: url("../media/science\ ficthion.webp");
}
.z{
    background-image: url("../media/animation.jpg");
}
.navbar a:hover{
    border-radius:5px ;
    color: #000;
    border-bottom:#000 solid 2px ;
    background-color: rgb(252, 248, 248,50%);
    padding: 10px 10px;
}
.ppp{
    display: inline-block;
    width: 100%;
    justify-content: space-between;
    list-style: none;
    display: inline-block;
    text-decoration: none;
   /* margin-left: 30px;*/
}
.kl{

    color: #000;
    text-decoration: none;
    font-size: 15px;
    margin-left: 5%;
    
}
.texure{
    font-size: 19px;
    font-weight: bolder;
    line-height: 20px;
    color: rgb(255, 255, 255);
}
.vv{width: 100%;
    text-decoration: none;
    border-radius: 12px;
    background-color:rgb(0, 0, 0,50%) ;
    margin-right: 10%;
    margin-bottom: 40px;
}
span{ 
    text-shadow:2px 2px 8px #000;
}
div ul li {
    list-style: none;
}
div ul{
    
    position: relative;
}
.ll{
float: right;
margin-top: -10%;
}
.oooo{
    float: right;
}
.oo{
    font-weight: bold;
}
.footer{
    
    margin-top: 20%;
    border-radius: 12px;
    background-color:rgb(0, 0, 0,70%) ;
    width:100%;
    background-position: center;
    background-size: cover;
    padding-left: 8%;
    padding-right: 8%;
    box-sizing: border-box;
    box-shadow: #000 ;
}
.social-links{
    float: right;
}
div h4{
    border-bottom: rgba(255, 0, 0, 0.57) solid;
    padding-top: 10px;
    padding-bottom: 5px;
}
.row{
    color: #fff;
    display: flex;
    justify-content: space-between;
}
div ul li a{
    text-decoration: none;
    color: antiquewhite;
}
div ul li a:hover{
    background-color: #fff;
    color: #000;
    padding: 10px 10px;
    transition: 0.4s ease-out;
    border-radius: 10px;
}
div h5 a:hover{
    transition: 0.4s ease-out;
}
div a i:hover{
    background-color: #fff;
    color: #000;
    padding: 10px 10px;
    transition: 0.4s ease-out;
    border-radius: 10px;
}
i{
    color: #fff;
}
div nav ul li a i:hover{
    background-color: rgb(252, 248, 248,50%);
    color: #000;
    padding: 10px 10px;
    transition: 0.4s ease-out;
    border-radius: 5px;
    border-bottom:#000 solid 2px ;
}
#dropmenu{
    margin-right: 27px;
    margin-top: -2%;
    float: right;
    border: none;
    cursor: pointer;
    text-decoration: none;
    color:#fff;
    font-size: 24px;
    background-color: rgb(0, 0, 0,0%);
    padding-left: 0%;
    margin-left: 0%;
}

.but i{
    color: #000;
    padding-left: 10px;
}
.listaya{
    cursor: pointer;
    margin-bottom: 5px;
    padding-left: 10px;
    padding-bottom: 7px;
    border-bottom: 0.2px #fff solid;
}
.z{
    border-bottom: none;
    margin-bottom: 5px;
    padding-left: 10px;
    padding-bottom: 7px;
}
.a{
    padding-top: 5px;
}
#uu{
    display: none;
    color: aliceblue;
    font-weight: bold;
    width: 160px;
    background-color: rgb(0, 0, 0,0.4);
    z-index: -8;
}

.bom{
    margin-left: 1350px;
}
.dark .navbar{
    background-color: rgb(255, 255, 255,50%);
}
.dark .footer{
    background-color: rgb(255, 255, 255,50%);
}
.dark div nav ul li:hover{
    background-color: rgba(0, 0, 0, 0.5);
    color: rgb(255, 255, 255);
    padding: 5px 10px;
    transition: 0.4s ease-out;
    border-radius: 5px;
    border-bottom:#000 solid 2px ;
}
.dark div nav ul li a:hover{
    background-color: transparent;
    color: rgb(255, 255, 255);
    padding: 5px 5px;
    transition: 0.4s ease-out;

}
.dark .footer-col i:hover{
    background-color: rgba(0, 0, 0, 0.5);
    color: rgb(255, 255, 255);
    padding: 10px 10px;
    transition: 0.4s ease-out;
    border-radius: 5px;
    border-bottom:#000 solid 2px ;
}
.dark .footer-col li:hover{
    background-color: rgba(0, 0, 0, 0.5);
    color: rgb(255, 255, 255);
    padding: 5px 5px;
    transition: 0.4s ease-out;
    border-radius: 5px;
    border-bottom:#000 solid 2px ;
}
.dark .footer-col a:hover{
    background-color: transparent;
    color: rgb(255, 255, 255);
    transition: 0.4s ease-out;
}
nav ul li button{
    background-color: rgb(0, 0, 0,0%);
    border: none;
    font-size: 25px;
    cursor: pointer;
}
.dark .texure{
    font-size: 16px;
    color: #000;
}
